# --- Dependencies ---
node_modules/
.pnpm-store/

# --- Environment Variable ---
.env
.env.local
.env.*

# --- Build Outputs ---
dist/
build/
out/
.next/
*.tsbuildinfo

# --- Sui / Move ---
stashpass/build/
*.mv
.sui/

# --- IDEs / System ---
.DS_Store
.vscode/
.idea/

# --- Logs ---
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
